{% extends "base.html"%}
{% block content %}<br><br><br>

<div class="container">
      <h3 style="font-family: 'Raleway', sans-serif; font-weight:bold;">Baby (12-24 Months.)</h3>
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Infants are growing rapidly
        from 12–24 months and have high nutrient needs in proportion
         to their body size. This sub‐group of the population are prone to dietary imbalances and inadequacies. It
         is of vital importance to get nutrition right during this time period to support appropriate growth
          and development.<img src="static/12-24/ob2.jpg" alt="" height="600px" width="500px" style="float:right;"><br><br>Overweight and obesity rates are increasing in pre‐school children, and maternal
           nutritional status and early life feeding have been identified as ‘critical windows’ for obesity risk.
           After the recommended period of exclusive breastfeeding, an increasingly
          diversified selection of foods are offered to infants and young children, and milk becomes
           less dominant in the diet.<br><br>
           Rapid weight gain during infancy is the strongest risk factor for childhood
           overweight and obesity, and this may be modifiable with early intervention. During the complementary feeding
           period, there is an increase in protein intake, which is in excess of requirements, and may be associated with
           adverse outcomes regarding later body mass index and body fatness. Guidelines for healthcare professionals have
           been developed to raise the issue of overfeeding during infancy, and to manage overweight if it arises.
         <img src="static/12-24/ob1.jpg" alt="" height="300px" width="600px" style="float:right;"></p>
<hr style="border: 2px solid #99CCFF; margin-top: 340px;">

    <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">Recommended Practices Breastfed children 12-24</h4>
    <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Increase food quantity
      as the child ages– while maintaining frequent breastfeeding:</p>
      <span style="font-weight:bold; font-style: italic; font-size : 18px; font-family: 'Raleway', sans-serif;">•	Provide approximately
        550 kcal per day from complementary foods.
        family meal and tucking into three small meals a day <br>
     •	Local research is needed to determine the best combinations of foods and
     practices to achieve these levels of energy intake as shown in the previous age brackets for infants and toddlers.<br>
     <br></span><img src="static/12-24/cf1.jpg" alt="" height="700px" weight="650px" style="float:right;">

     <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Increase feeding frequency as the
        child ages:</p>
        <span style="font-weight:bold; font-style: italic; font-size : 18px; font-family: 'Raleway', sans-serif;">•	Feed
          complementary foods 3– 4 times per day. <br>
      •	Offer nutritious snacks 1– 2 times per day, as desired.<br>
       <br></span>

       <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Gradually increase
         food consistency and variety as the child ages, adapting the diet to the infant's requirements and abilities:</p>
         <span style="font-weight:bold; font-style: italic; font-size : 18px; font-family: 'Raleway', sans-serif;">•	Feed
            mashed and semi-solid foods, softened with breastmilk, if possible,
           and beginning at 6 months of age. <br>
       •	Feed energy-dense combinations of soft foods to 6– 11 month olds.<br>
       •	Introduce "finger foods" (snacks that can be eaten by children alone) beginning around 8 months of age.<br>
       •	Make the transition to the family diet at about 12 months of age.
        <br><br></span>

        <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Diversify the diet to improve
          quality and micronutrient intake:</p>
          <span style="font-weight:bold; font-style: italic; font-size : 18px; font-family: 'Raleway', sans-serif;">
        •	Feed vitamin A-rich fruits and vegetables daily. <br>
        •	Feed meat, poultry, or fish daily or as often as possible, if feasible and acceptable.<br>
        •	Use fortified foods, such as iodized salt,
        vitamin A-enriched sugar, iron-enriched flour or other staples, when available.<br>
        •	Give vitamin-mineral supplements when animal products and/ or fortified foods are not available.<br>
        •	Avoid giving drinks with low nutrient value, such as tea, coffee and sugary beverages.
         <br><br></span>

         <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Practice responsive feeding:</p>
  <span style="font-weight:bold; font-style: italic; font-size : 18px; font-family: 'Raleway', sans-serif;">
 •	Feed infants directly and assist older children when they feed themselves.<br>
 •	Offer favourite foods and encourage children to eat when they lose interest or have depressed appetites.<br>
 •	If children refuse many foods, experiment with different food combinations, tastes, textures,
  and methods for encouragement.<br>
 •	Talk to children during feeding.<br>
 •	Feed slowly and patiently and minimize distractions during meals.<br>
 •	Do not force children to eat.<br><br></span><img src="static/12-24/fed.jpg" alt="" height="250px" width="500px" style="float:left;">

 <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Practice frequent and responsive feeding
   during and after illness:</p>
   <span style="font-weight:bold; font-style: italic; font-size : 18px; font-family: 'Raleway', sans-serif;">
     •	During illness, increase fluid intake by more frequent breastfeeding,
     and patiently encourage children to eat favourite foods.<br>
     •	After illness, breastfeed and give foods more often than usual,
     and encourage children to eat more food at each sitting.
<br><br><br><br><br><br></span><img src="static/12-24/hyg.jpg" alt="" height="350px" width="500px" style="float:right;">

<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Practice good hygiene and proper food handling:</p>
  <span style="font-weight:bold; font-style: italic; font-size : 18px; font-family: 'Raleway', sans-serif;">
    •	Wash caregivers' and children's hands before food preparation and eating.<br>
    •	Store foods safely and serve foods immediately after preparation.<br>
    •	Use clean utensils to prepare and serve food.<br>
    •	Serve children using clean cups and bowls, and never use feeding bottles.

<br><br></span>

<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Supporting advice for caregivers and families:</p>
  <span style="font-weight:bold; font-style: italic; font-size : 18px; font-family: 'Raleway', sans-serif;">
    •	Make sure children's immunization schedules are complete by 1 year of age.<br>
    •	Give liquid iron supplements daily (12.5 mg/ day) to infants 6 months to 1 year of age if daily vitamin-mineral
    supplements or iron-fortified foods are not being given. If the prevalence of anaemia is known to be very
    high (40 percent or more), continue supplementation until 24 months of age. For low birthweight infants,
    start supplementation at 2 months.<br>
    •	Give semi-annual, high-dose vitamin A supplements after 6 months in areas where vitamin A deficiency occurs.<br>
    •	Seek appropriate health care for fever, diarrhoea, respiratory infections, malaria, hookworm, and other infections.<br>
    •	Encourage children's psycho-social development by providing them with opportunities for exploration and autonomy.<br>
    •	Ensure adequate maternal nutrition and micronutrient status to improve women's health and support optimal breastfeeding.<br>
    •	Give mothers a high-dose vitamin A supplement immediately after delivery or within 8 weeks post-partum in
    areas where vitamin A deficiency occurs.<br>
    •	Practice family planning that does not interfere with breastfeeding to space children and
    allow for maternal recuperation.

<br><br></span>


</div>

{% endblock %}
