{% extends "base.html"%}
{% block content %}
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/404/foto/N1.jpg" class="d-block w-100" alt="..." height="300px" width="90px">
        <div class="carousel-caption d-none d-md-block">
          <img src="static/404/foto/cry.png" alt="" height="170px" width="170px">
          <h3 style="font-family: 'Raleway', sans-serif; font-weight : bold;">The page you have requested
          cannot be found:'(</h3>
          <a href="{{ url_for('index') }}" class="btn btn-outline-success active" role="button"
          aria-pressed="true" style="font-family: 'Raleway', sans-serif; font-weight : bold;">Return to homepage</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
