{% extends "base.html"%}
{% block content %}
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/404/foto/N1.jpg" class="d-block w-100" alt="..." height="300px" width="90px">
        <div class="carousel-caption d-none d-md-block">
          <img src="static/404/foto/cry.png" alt="" height="170px" width="170px">
          <h3 style="font-family: 'Raleway', sans-serif; font-weight : bold;">The page you have requested
          cannot be found:'(</h3>
          <a href="{{ url_for('index') }}" class="btn btn-outline-success active" role="button"
          aria-pressed="true" style="font-family: 'Raleway', sans-serif; font-weight : bold;">Return to homepage</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">

  <!-- Footer -->
  <footer class="page-footer font-small" style="background-color:#333333;">

    <!-- Footer Links -->
    <div class="container">

      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <div class="" id="about">
              <a href="#navbarNavDropdown" style="font-family: 'Raleway', sans-serif; font-size:18px;">Home</a>
            </div>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#about" style="font-family: 'Raleway', sans-serif; font-size:18px;">About US</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#blog" style="font-family: 'Raleway', sans-serif; font-size:18px;">Blog</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" style="font-family: 'Raleway', sans-serif; font-size:18px;">Help</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" style="font-family: 'Raleway', sans-serif; font-size:18px;">Contact</a>
          </h6>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr class="rgba-white-light" style="margin: 0 15%;">

      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem; font-family: 'Raleway', sans-serif; font-size: 16px;">You and your child’s health is our major concern, and with the information
            conveyed in this application ,it will thus enlighten you to a better, healthy living. Henceforth, it is the
            applications’ sole purpose to ensure an increase in infant mortality.Incase of
            any inquiry, feel obliged to contact us through the personal phone number or email.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

      <!-- Grid row-->
      <div class="row pb-3">

        <!-- Grid column -->
        <div class="col-md-12">

          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/ChildFeedingGuide/">
              <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="https://twitter.com/InfTodForum">
              <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic" href="https://draxe.com/nutrition-for-babies/">
              <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="https://www.linkedin.com/company/baby-nutrition-limited/about/">
              <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com/healthy.pregnancy/">
              <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic" href="https://www.pinterest.com/weelicious/baby-food-recipes/">
              <i class="fab fa-pinterest fa-lg white-text"> </i>
            </a>

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="font-family: 'Raleway', sans-serif; font-size:16px;">© 2019 Copyright:
      <a href="mailto:arigabrian.5@gmail.com" style="font-family: 'Raleway', sans-serif; font-size:16px;">BRIAN KEN</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</div>
{% endblock %}
