{% extends "base.html"%}
{% block content %}

<div class="jumbotron">
  <h2 style="font-family: 'Raleway', sans-serif; font-weight : bold;">GET IN TOUCH</h2>

  <p style="font-family: 'Raleway', sans-serif; font-weight : bold;">Thank you for contacting us.
    We will get back to you shortly. Stay happy-:)</p>

    <a  href="{{ url_for('index') }}" class="btn btn-outline-success active" role="button"
    aria-pressed="true" style="font-family: 'Raleway', sans-serif; font-weight : bold; margin-left:500px;">Return to homepage</a>

</div>

{% endblock %}
