{% extends "base.html"%}
{% block content %}<br><br><br>

<div class="container">
  <h3 style="font-family: 'Raleway', sans-serif; font-weight:bold;">Infants (6-8 Months.)</h3>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Young children
     need enough nutritious food every day to grow healthy, strong and smart. At around 6
    months old, your baby is growing quickly and needs more energy
    and nutrients than at any other time in her life. Your baby will give you the most
    important information—how he or she likes to be treated, talked to, held, and comforted.
    This section address the most common questions and concerns that arise during the first months of life.<br>
  The following are the most important nutritional content to offer an infant in the stages between 6 to
8 months:</p>

</div><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">1.Breast milk: </h4>
      <img src="static/6-8/foto/breast/bre.jpg" alt="" height="400px" width="700px">
      <p  style="font-family: 'Raleway', sans-serif; font-size : 18px;">Continue offering breast milk to your baby as she is still growing. Breast milk should be her prime source of nutrition. You can attempt to wean her by giving solid foods, and feeding pumped breast milk.<br>
You baby needs more breast milk in the first six months. But after that his requirement for breast milk comes down as you begin giving him solid foods (1). The standard range of milk intake by a breastfed baby is 19-30 oz per day (570-900ml).<br><br>
<span style="font-weight:bold; font-style: italic;">How Much Expressed Milk Is Needed For An Eight-Month-Old?:</span><br><br>
Estimate the number of times your baby drinks milk each day, for instance five times. Divide 25oz by the number (25/5 = 5oz). In this case, you need to express 5oz for each feed. However, do not force the little one to finish the bottle as she may not have the appetite after eating some solids.<br><br>
Infant Formula: Infant formula or baby milk powder is designed to provide the same advantages as that of breast milk. You can either bottle feed the formula or mix it up in a cup and feed it to your baby as a meal.<br><br>
<span style="font-weight:bold; font-style: italic;">What If My Eight-Month-Old Drinks More Than Required Milk?</span><br><br>
Ideally, you need to reduce the amount of milk to accommodate solid foods. However, if he/she is drinking more than the average quantity of milk, try to find the reasons behind it:<br>
<span style="font-style: italic;"><span style="font-size:30px; font-weight:bold; font-style: italic;">•</span> Fast flow bottles can make the baby drink more than the required amount of milk. Use low-flow bottles. Make sure that you are measuring the amount of milk that you are giving her for each feed.<br>
<span style="font-size:30px; font-weight:bold;">•</span> The strong urge to suck while breastfeeding, can make you baby drink more. Prevent this by giving him a pacifier.
Note: At this age, your baby needs 750 and 900 calories a day. Breast milk or formula should contribute to at least 400 to 500 calories.</span>
</p>
    </div>

    <div class="col-sm">
      <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">2. Pulses, wheat and rice: </h4>
      <img src="static/6-8/foto/pwr/pulse.png" alt="" height="300px" width="300px">
      <img src="static/6-8/foto/pwr/whe.jpg" alt="" height="300px" width="400px">
      <br>
      <p style="font-weight:bold; font-style: italic;">i.) Pulses</p>
      <p style="float:right; margin-top:-40px; font-weight:bold; font-style: italic;">i.) Wheat</p>
      <br>
      <img src="static/6-8/foto/pwr/rice.jpg" alt="" height="300px" width="400px" style="margin-left:150px;"><br>
      <p style="margin-left:330px; font-weight:bold; font-style: italic;">i.) Rice</p><br>
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Feed your eight-month baby with cooked, non-spicy lentils or
        beans. Offer freshly baked and soft chapati (wheat bread). Avoid multi-grain bread.</p><br>
        <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">3. Cereals: </h4>
        <img src="static/6-8/foto/corn/corn.jpg" alt="" height="300px" width="300px">
        <img src="static/6-8/foto/wit/wit.jpg" alt="" height="300px" width="400px">
        <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Feed cereals rich in iron content such as oats, ragi, barley, eg Weetabix ,cornflakes
etc. Nutrients present in fortified cereals are not present in usual baby foods such as bread and veggies.
</p>


    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">4. Fruits: </h4>
      <img src="static/6-8/foto/fruit/fru.jpg" alt="" height="500px" width="700px">
      <p  style="font-family: 'Raleway', sans-serif; font-size : 18px;">Mash them well,
        without lumps, and feed them to your
        eight-month-old. Choose from bananas, apples, avocados, pears, strawberries, cherries, peaches, and more</p>
    </div>

    <div class="col-sm">
      <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">5. Vegetables: </h4>
      <img src="static/6-8/foto/veg/veg.jpg" alt="" height="500px" width="700px">
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Offer well-cooked and steamed foods to your baby. Cut them into small pieces to
        avoid choking hazard and for easy chewing. Best veggies at this
        age are potatoes, cauliflower, beans, peas, and sweet potatoes. They serve as
        great finger foods for 8-month-olds.</p>


    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">6. Eggs: </h4>
      <img src="static/6-8/foto/egg/eg.jpg" alt="" height="500px" width="700px">
      <p  style="font-family: 'Raleway', sans-serif; font-size : 18px;">Egg is loaded with proteins,
        nutrients, and is easily digestible. Begin with egg yolk and as your little one gets used to it,
        offer egg white. You may feed her a boiled eggs or omelet, but cut them into sm7. Fish and meat.<br>
You may offer small pieces of well-cooked meat to your eight-month-old but do not add any spice. Bites
of organic, lean meat and completely de-boned and well-cooked fish are good.
</p>
    </div>

    <div class="col-sm">
      <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">5. Vegetables: </h4>
      <img src="static/6-8/foto/veg/veg.jpg" alt="" height="500px" width="700px">
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Offer well-cooked and
        steamed foods to your baby. Cut them into small pieces to
        avoid choking hazard and for easy chewing. Best veggies at this
        age are potatoes, cauliflower, beans, peas, and sweet potatoes. They serve as
        great finger foods for 8-month-olds.</p>


    </div>
  </div>
</div>

{% endblock %}
