{% extends "base.html"%}
{% block content %}<br><br><br>

<div class="container">
  <h3 style="font-family: 'Raleway', sans-serif; font-weight:bold;">Baby (9-11 Months.)</h3>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">By 11 months, your baby may become more
    independent and she may be able to eat or drink on her own. Keep watching the baby close while she is
    eating in order to avoid choking. Don’t worry if the baby is not ready to eat on her own! Just help and encourage
     by offering finger foods and practice her to hold the spoon.</p>
 <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">At a glance</h4>
 <span style="font-weight:bold; font-style: italic; font-size : 18px; font-family: 'Raleway', sans-serif;">•	Your
    baby should be joining in the
   family meal and tucking into three small meals a day <br>
•	They can enjoy what everyone else is having now – just chopped into baby-sized bites <br>
•	As they are on the move now, offer them healthy snacks to keep their energy up.
<br><br></span>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Here’s a guide to the nutritious meals, snacks and crucial nutrients your active baby
needs to stay healthy and full of energy;</p>


</div><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">1. Starchy foods: </h4>
      <img src="static/9-11/foto/sta/pot.jpeg" alt="" height="300px" width="290px" style="border-radius: 25px;">
      <img src="static/9-11/foto/sta/btbc.jpg" alt="" height="300px" width="350px" style="border-radius: 25px;">
      <br>
      <p style="font-weight:bold; font-style: italic;">i.) Potatoes.</p>
      <p style="margin-top:-40px; padding-left:330px; font-weight:bold; font-style: italic;">ii.) Bread/toast or Breakfast Cereal.</p>
      <br>
      <img src="static/9-11/foto/sta/pr.jpg" alt="" height="300px" width="400px" style="margin-left:150px; border-radius: 25px;"><br>
      <p style="margin-left:250px; font-weight:bold; font-style: italic;">iii.) Pasta rice.</p><br>
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Starchy foods Like potatoes, pasta rice,
        bread/toast or breakfast cereal – include them at all meals for that all important energy boost</p><br>

        <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">3. Full-fat dairy foods:</h4>
        <img src="static/9-11/foto/ffdf/ch.jpg" alt="" height="300px" width="300px" style="border-radius: 25px;">
        <img src="static/9-11/foto/ffdf/yog.jpg" alt="" height="300px" width="340px" style="border-radius: 25px;">
        <br>
        <p style="font-weight:bold; font-style: italic;">i.) Cheese.</p>
        <p style="margin-top:-40px; padding-left:390px; font-weight:bold; font-style: italic;">ii.) Yoghurt.</p>
        <br>
        <img src="static/9-11/foto/ffdf/Ff.jpg" alt="" height="300px" width="320px" style="border-radius: 25px;">
        <img src="static/9-11/foto/ffdf/mp.jpg" alt="" height="300px" width="320px" style="border-radius: 25px;">
        <br>
        <p style="font-weight:bold; font-style: italic;">iii.) Fromage Frais(White Cheese).</p>
        <p style="margin-top:-40px; padding-left:390px; font-weight:bold; font-style: italic;">iv.) Milk Puddings.</p>
        <br>
        <p style="font-family: 'Raleway', sans-serif; font-size : 18px;"> Foods like cheese, yoghurt,
          fromage frais(white cheese) and milk puddings are packed with calcium, which is ideal for strong
          bones and teeth.<br>
          Studies also show that the fat can slow down the body's absorption of sugar, helping lower the risk of diabetes.

Research published by Kenyan Academy of Pediatrics (KAP) analyzed
on the health benefits of eating low-fat and full-fat dairy products,
involving almost 1 million babies from around the world. It found that consuming milk, yogurt, cheese and
other dairy products — either low-fat
or full-fat — had no impact on rates of cardiovascular disease, coronary heart disease, or deaths from any cause.<br>
The total fat content of dairy products can vary a lot. To make healthier choices, look at the nutrition
information on the
label to check the amount of fat, including saturated fat, salt and sugar, in the dairy products you're choosing.<br>
The fat in milk provides calories for young babies, and also contains essential vitamins.
Although, it's a
good idea to go for lower fat milks because having too much fat can result in your baby becoming overweight.
</p>


    </div>

    <div class="col-sm">
      <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">2. Fruit and vegetables: </h4>
      <img src="static/9-11/foto/frveg/tin.jpg" alt="" height="300px" width="300px" style="border-radius: 25px;">
      <img src="static/9-11/foto/frveg/zen.jpg" alt="" height="300px" width="340px" style="border-radius: 25px;">
      <br>
      <p style="font-weight:bold; font-style: italic;">i.) Tinned Fruits</p>
      <p style="float:right; margin-top:-40px; font-weight:bold; font-style: italic;">ii.) Frozen Fruits</p>
      <br>
      <img src="static/9-11/foto/frveg/dr.jpg" alt="" height="300px" width="300px" style="border-radius: 25px;">
      <img src="static/9-11/foto/frveg/ff.jpg" alt="" height="300px" width="340px" style="border-radius: 25px;">
      <p style="font-weight:bold; font-style: italic;">iii.) Dried Fruits</p>
      <p style="float:right; margin-top:-40px; font-weight:bold; font-style: italic;">iv.) Fresh Fruits </p>
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Babies bewteen the months of nine and eleven
        should be fed
        Vegies and fruits including tinned,
        frozen and dried as well as fresh fruits include them in all your baby’s meals.</p><br>

        <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">4. Proteinases foods: </h4>
        <img src="static/9-11/foto/profo/mit.jpeg" alt="" height="300px" width="345px" style="border-radius: 25px;">
        <img src="static/9-11/foto/profo/tofu.jpg" alt="" height="300px" width="295px" style="border-radius: 25px;">
        <p style="font-weight:bold; font-style: italic;">i.) Meat</p>
        <p style="float:right; margin-top:-40px; font-weight:bold; font-style: italic;">ii.) Tofu(Bean Curd)</p>
        <img src="static/9-11/foto/profo/fi.jpg" alt="" height="300px" width="300px" style="border-radius: 25px;">
        <img src="static/9-11/foto/profo/eg.jpg" alt="" height="300px" width="340px" style="border-radius: 25px;">
        <p style="font-weight:bold; font-style: italic;">iii.) Fish</p>
        <p style="float:right; margin-top:-40px; font-weight:bold; font-style: italic;">iv.) Eggs</p>
        <img src="static/9-11/foto/profo/bpl.jpg" alt="" height="300px" width="300px" style="border-radius: 25%;">
        <img src="static/9-11/foto/profo/nb.jpg" alt="" height="300px" width="340px" style="border-radius: 25%;">
        <p style="font-weight:bold; font-style: italic;">v.) Pulses(Lentils, Beans or Peas)</p>
        <p style="float:right; margin-top:-40px; font-weight:bold; font-style: italic;">vi.) Nut Butters</p>
        <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Babies bewteen the months of nine and eleven
          should be fed Meat, tofu(bean curd), fish, eggs, pulses
           (lentils, beans or peas) or nut butters – include these at two meals each day to give you baby plenty of  iron
</p>


    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">5. Finger Foods: </h4>
      <img src="static/9-11/foto/finf/fif.jpg" alt="" height="750px" width="645px" style="border-radius: 25px;">
      <p  style="font-family: 'Raleway', sans-serif; font-size : 18px;">This is food served in such a form and
         style that it can conveniently be eaten with the fingers. You can now offer hard finger foods such
         as: Breadsticks, Rice cakes, Crackers (biscuits), Toast with cheese spread
        Pieces of raw fruit and vegetables such as apples, carrots, cucumber, Cubes of cheese and
        Pieces of boiled egg.</p>
    </div>

    <div class="col-sm">
      <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold;">6. Iron-Rich Foods: </h4>
      <img src="static/9-11/foto/irf/iron.jpg" alt="" height="650px" width="644px" style="border-radius: 25px;">
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Your baby was born with stores of iron, but they
        start to run out from around six months. Lack of iron is the most common nutritional deficiency seen in young
        children, so it’s very important to offer your baby plenty of those iron-rich foods.
        Good sources of iron include:<br>
        <span style="font-weight:bold; font-style: italic; margin-left:70px;">a)	Red meat – like beef and lamb</span><br>
        <span style="font-weight:bold; font-style: italic; margin-left:70px;">b)	Chicken and turkey - especially the dark meat</span> <br>
        <span style="font-weight:bold; font-style: italic; margin-left:70px;">c)	Dried fruit – like prunes and apricots</span> <br>
        <span style="font-weight:bold; font-style: italic; margin-left:70px;">d)	Iron-fortified cereals – as long as they’re low sugar</span> <br>
        <span style="font-weight:bold; font-style: italic; margin-left:70px;">e)	Eggs - cooked till both the white and yolk are solid</span> <br>
        <span style="font-weight:bold; font-style: italic; margin-left:70px;">f)	Beans, tofu (bean curd), lentils and chickpeas</span><br>
        <span style="font-weight:bold; font-style: italic; margin-left:70px;">g)	Nut butters</span><br>
        <span style="font-weight:bold; font-style: italic; margin-left:70px;">h)	Green vegetables – like spinach, broccoli and peas</span><br>
        <span style="font-weight:bold; font-style: italic; margin-left:70px;">i)	Red meat – like beef and lamb</span><br>
        <span style="font-weight:bold; font-style: italic; margin-left:70px;">j)	Keep your baby’s diet healthy – find out how to avoid giving the <span style="margin-left:70px;">wrong foods</span>.</span><br>


        </p>


    </div>
  </div>
</div><br><br>


<div class="container">
  <h3 style="font-family: 'Raleway', sans-serif; font-weight:bold; text-align:center;">HOW MUCH QUANTITY PER DAY?</h3><br>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">For the quantity of food, always
  be guided with your baby’s
  hunger as appetite vary from baby to baby, and most babies change from day to day. Here is an approximate amount:<br>
<span style="font-weight:bold; font-style: italic;">
<span style="margin-left:200px;">•	Cereal – 1/4 to 1/2 cup</span><br>
<span style="margin-left:200px;">•	Vegetables – 1/4 to 1/2 cup </span><br>
<span style="margin-left:200px;">•	Fruits – 1/4 to 1/2 cup </span><br>
<span style="margin-left:200px;">•	Mixed Cereals – 1/4 to 1/2 cup </span><br>
<span style="margin-left:200px;">•	Dairy – 2 to 3 tbsp.</span> <br>
<span style="margin-left:200px;">•	Meat/Protein – 4 tbsp</span> <br><br>


<span style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:100px;">NB;</span><br>
<span style="margin-left:200px;">•	Sterilize the bowls and spoons used for feeding your baby in a vessel with hot water for five minutes and <span style="margin-left:215px;">keep it immersed in the same vessel until use.</span></span><br>
<span style="margin-left:200px;">•	Never introduce more than 1 food at a time when introducing solids to your baby.</span><br>
<span style="margin-left:200px;">•	Salt, sugar, cow’s milk and honey is not recommended in baby’s food until 1 years of age.</span><br>
<span style="margin-left:200px;">•	Check for allergy symptoms when you introducing a new food to your baby and stop feeding if you find any <span style="margin-left:215px;">symptoms.</span></span><br>
<span style="margin-left:200px;">•	Feed your baby with breastmilk or formula milk on demand.</span> <br>
<span style="margin-left:200px;">•	Steaming is a healthy option for baby food than pressure cooking.</span><br><br>
</span>

</p>

</div>

{% endblock %}
