{% extends "base.html"%}
{% block content %}

<div class="container"><br><br>
  <h3 style="font-family: 'Raleway', sans-serif; font-weight:bold;">AMOUNT OF COMPLEMENTARY FOOD NEEDED</h3><br>
  <img src="static/amoc/amo1.gif" alt="" height="300px" width="500px" style="margin-left:250px"><br><br>
  <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">Guideline:</h4>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Start at six months of age with small amounts of food and
increase the quantity as the child gets older, while maintaining frequent breastfeeding. The energy needs from complementary
foods for infants with “average” breast milk intake in developing countries
<a href="https://www.unicef.org/sowc/archive/ENGLISH/The%20State%20of%20the%20World%27s%20Children%201998.pdf" target="_blank">(WHO/UNICEF, 1998)</a>
 are approximately 200 kcal
per day at 6-8 months of age, 300 kcal per day at 9-11 months of age, and 550 kcal per day at 12-23 months of age.
In industrialized countries these estimates differ somewhat (130, 310 and 580 kcal/d at 6-8, 9-11 and 12-23 months, respectively)
because of differences in average breast milk intake.</p><br>

<h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">Scientific Rationale:</h4>
<img src="static/amoc/amo2.jpg" alt="" style="float:right; margin-right:-100px; border-radius: 15px;">
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">The total energy requirements of healthy, breastfed
infants are approximately 615 kcal/d at 6-8 months, 686 kcal/d at 9-11 months, and 894 kcal/d at 12-23 months of
age <a href="https://apps.who.int/iris/bitstream/handle/10665/42739/924154614X.pdf?sequence=1" target="_blank">(Dewey and Brown, 2002)</a>.
Energy needs from complementary foods are estimated by subtracting average breast milk
energy intake from total energy requirements at each age. Among breastfed children in developing countries, average
breast milk energy intake is 413, 379 and 346 kcal/d at 6-8, 9-11 and 12-23 months, respectively
<a href="https://www.unicef.org/sowc/archive/ENGLISH/The%20State%20of%20the%20World%27s%20Children%201998.pdf" target="_blank">(WHO/UNICEF, 1998)</a>.
The equivalent values for industrialized countries (for breastfed children only) are 486, 375 and 313 kcal/d, respectively.
The above guideline is based on children receiving average amounts of breast milk at each age. If an infant is consuming
more or less breast milk than the average, the amount needed from complementary foods will differ accordingly. <br><br>In practice,
caregivers will not know the precise amount of breast milk consumed, nor will they be measuring the energy content of
complementary foods to be offered. Thus, the amount of food to be offered should be based on the principles of responsive
feeding, while assuring that energy density and meal frequency are adequate to meet the child’s needs.
With the sample diets shown in the document Complementary feeding: family foods for breastfed children
<a href="http://apps.who.int/gb/archive/pdf_files/WHA53/ea4.pdf" target="_blank">(WHO, 2000)</a>, which have a composite energy density
ranging from 1.07 to 1.46 kcal/g, the approximate quantity of
complementary foods that would meet the energy needs described above is 137-187 g/d at 6-8 months, 206-281 g/d at 9-11 months,
and 378-515 g/d at 12-23 months. It should be noted, however, that these diets will not always satisfy micronutrient
requirements.<br><br> Recommended intakes of iron, and to a lesser extent zinc, are unlikely to be provided by these diets.]
It is important not to be overly prescriptive about the amount of complementary foods to be consumed, recognizing that
each child’s needs will vary due to differences in breast milk intake and variability in growth rate. Furthermore,
children recovering from illness or living in environments where energy expenditure is high may require more energy
than the average quantities listed here.</p><br>

<h3 style="font-family: 'Raleway', sans-serif; font-weight:bold;">NUTRIENT CONTENT OF COMPLEMENTARY FOODS</h3><br>
<img src="static/amoc/amo3.jpeg" alt="" style="margin-left:150px; border-radius:15px;"><br><br>
<h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">Guideline:</h4>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Feed a variety of foods to ensure that nutrient needs are met.
Meat, poultry, fish or eggs should be eaten daily, or as often as possible. Vegetarian diets cannot meet nutrient needs at
this age unless nutrient supplements or fortified products are used. Vitamin A-rich fruits and vegetables
should be eaten daily. Provide diets with adequate fat content. Avoid giving drinks with low nutrient value,
such as tea, coffee and sugary drinks such as soda. Limit the amount of juice offered so as to avoid displacing more
nutrient rich foods.</p><br>

<h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">Scientific Rationale:</h4>
<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:40px;">1) Micronutrient content.</h5>
<img src="static/amoc/amo4.jpg" alt="" height="500px" width="600px" style="float:right; margin-right:-100px;"><br><br>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Because of the rapid rate of growth and development during
the first two years of life, nutrient needs per unit body weight of infants and young children are very high. Breast
milk can make a substantial contribution to the total nutrient intake of children between 6 and 24 months of age,
particularly for protein and many of the vitamins. However, breast milk is relatively low in several minerals such
as iron and zinc, even after accounting for bioavailability. At 9-11 months of age, for example, the proportion of
the Recommended Nutrient Intake that needs to be supplied by complementary foods is 97% for iron, 86% for zinc, 81% for
phosphorus, 76% for magnesium, 73% for sodium and 72% for calcium (Dewey, 2001). Given the relatively small amounts of
complementary foods that are consumed at 6-24 months, the nutrient density
(amount of each nutrient per 100 kcal of food) of complementary foods needs to be very high.</p>

<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Calculations of the desired nutrient densities at various
ages (6-8, 9-11 and 12-23 months) are published elsewhere
<a href="https://www.who.int/nutrition/publications/guiding_principles_compfeeding_breastfed.pdf" target="_blank">(WHO/UNICEF, 1998; Dewey and Brown, 2002)</a>. When these were compared
with the actual nutrient densities of the typical complementary food diets consumed in various populations, several
“problem nutrients” were identified. In most developing countries, complementary foods do not provide sufficient iron,
zinc and vitamin B6. Even in the U.S., iron and zinc were identified as problem nutrients in the first year of life,
despite the availability of iron-fortified products. Certain nutrients are in short supply in some populations,
but not in all, depending on the local mix of complementary foods. These include riboflavin, niacin, thiamin, folate,
calcium, vitamin A and vitamin C. Others, such as vitamin E, iodine and selenium, may also be problem nutrients in certain
settings, but there is insufficient information to make this judgment. </p>

<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Because there is so much variability in complementary food
diets in different parts of the world, it is not feasible to provide global dietary “prescriptions” that would guarantee
adequate intake of all essential nutrients. It is preferable to develop population-specific dietary guidelines for complementary
foods based on the food composition of locally available foods. However, it is clear from analyses done previously
<a href="https://pdfs.semanticscholar.org/4412/4ddfbcc4c9c1f69173b50f94d9fd5a362763.pdf" target="_blank">(WHO/UNICEF, 1998; Gibson et al., 1998; Dewey and Brown, 2002)</a> that plant-based complementary foods by themselves are
insufficient to meet the needs for certain micronutrients. Therefore, it is advisable to include meat, poultry, fish or
eggs in complementary food diets as often as possible.<br><br> Dairy products are a good source of some nutrients, such as calcium,
but do not provide sufficient iron unless they are fortified. In environments with poor sanitation, promotion of liquid milk
products is risky because they are easily contaminated, especially when fed by bottle. Fresh, unheated cow’s milk consumed
prior to 12 months of age is also associated with fecal blood loss and lower iron status
<a href="https://pdfs.semanticscholar.org/6d73/fede793a7f3266ba837adffeed2b43c8caac.pdf" target="_blank">(Ziegler et al., 1990; Griffin
and Abrams, 2001)</a>. For these reasons it may be more appropriate during the first year of life to choose dairy products
such as cheese, yogurt and dried milk (mixed with other foods, e.g. in a cooked porridge).</p>

<img src="static/amoc/amo5.jpg" alt="" style="float:left; border-radius:10%;" height="400px" width="350px">
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Potential allergic reactions related to consumption of certain
high-protein foods during infancy have been a concern in some industrialized countries (food allergies appear to be less common
in developing countries). For example, the American Academy of Pediatrics recommends that infants with a family history of
allergies or food sensitivities should not receive cow’s milk until 1 year of age, eggs until 2 years, and peanuts, nuts
and fish until 3 years of age <a href="https://www.aafp.org/afp/1998/0101/p153.html" target="_blank">(AAP, 1998)</a>. It is thought that avoidance
of foods with documented allergenic potential may
delay or prevent some food allergy and atopic dermatitis in high-risk infants.<br><br> However, controlled studies demonstrating
that restrictive diets after 6 months of age have an allergy-preventing effect have not been published
<a href="https://onlinelibrary.wiley.com/doi/full/10.1034/j.1398-9995.2000.00122.x" target="_blank">(Halken and Host, 2001)</a>, and for
this reason no such restrictions were advised by an international group of experts
<a href="https://www.who.int/nutrition/publications/guidingprin_nonbreastfed_child.pdf" target="_blank">(WHO/IAACI, 2000)</a>. The advice to
provide vitamin A-rich fruits and vegetables daily is based on the clear health benefits
associated with preventing vitamin A deficiency <a href="https://pdfs.semanticscholar.org/a205/cb980bb70c58cc288fc291022c597cd60938.pdf" target="_blank">(Allen and Gillespie, 2001)</a>, and the likelihood that consumption of such foods
will also help meet the needs for many of the other vitamins. More precise guidelines regarding the recommended amount and
frequency of consumption of such foods can be developed using local food composition data.
</p><br>


<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:40px;">2) Fat content.</h5>
<img src="static/amoc/amo6.jpg" alt="" style="float:right; margin-right:-100px;" height="600px" width="600px">
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Fat is important in the diets of infants and young children
because it provides essential fatty acids, facilitates absorption of fat soluble vitamins, and enhances dietary energy
density and sensory qualities. Breast milk is generally a more abundant source of fat than most complementary foods.
Thus, total fat intake usually decreases with age as the contribution of breast milk to total dietary energy declines.
Although there is debate about the optimal amount of fat in the diets of infants and young children, the range of 30-45%
of total energy has been suggested <a href="http://www.scielo.br/pdf/jped/v80n5s0/en_v80n5s0a04.pdf" target="_blank">(Dewey and Brown, 2002; Bier et al., 1999)</a> as a reasonable compromise between the risks
of too little intake (such as inadequate essential fatty acids and low energy density) and excessive intake
(thought to potentially increase the likelihood of childhood obesity and future cardiovascular disease, although the
evidence on this point is limited <a href="https://academic.oup.com/jn/article/129/11/2094/4721978" target="_blank">[Milner and Allison, 1999])</a>.<br><br> The percentage of energy from fat in complementary
foods that would be needed to achieve a level of 30-45% of energy from fat in the total diet depends on the level
of breast milk intake and the fat content of the breast milk <a href="https://apps.who.int/iris/bitstream/handle/10665/42739/924154614X.pdf?sequence=1" target="_blank">(Dewey and Brown, 2002)</a>. For infants in developing countries
consuming an average amount of breast milk with a normal fat concentration (38 g/L), for example, the needed percentage
of energy from fat in complementary foods is 0-34% at 6-8 months, 5-38% at 9-11 months, and 17-42% at 12-23 months.</p>

<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">When developing dietary guidelines to provide adequate fat
in complementary foods, it is important to take into account the potential effect of added fat (such as oil mixed with porridge)
on the overall nutrient density of the diet. For example, the addition of one teaspoon of vegetable oil to 100 g of a typical
maize pap used in West Africa would increase the energy density from 0.28 to 0.73 kcal/g, but would reduce protein density
from 8.9% to 3.3% of energy, and iron density from 0.5 to 0.2 mg/100 kcal <a href="https://www.unicef.org/sowc/archive/ENGLISH/The%20State%20of%20the%20World%27s%20Children%201998.pdf" target="_blank">(WHO/UNICEF, 1998)</a>. These effects could exacerbate
micronutrient malnutrition in vulnerable populations unless other measures (such as fortification) are taken to ensure
adequate micronutrient intake.</p>


<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:40px;">3) Beverages with low nutrient value.</h5>
<img src="static/amoc/amo7.jpg" alt="" style="float:left;" height="" width="500px">
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Tea and coffee contain compounds that can interfere with iron
absorption <a href="http://www.fao.org/tempref/docrep/fao/005/y8346m/y8346m06.pdf" target="_blank">(Allen and Ahluwalia, 1997)</a>, and
thus are not recommended for young children. Sugary drinks, such as soda, should
be avoided because they contribute little other than energy, and thereby decrease the child’s appetite for more nutritious
foods. Excessive juice consumption can also decrease the child’s appetite for other foods, and may cause loose stools.
For this reason, the <a href="https://yvppolicyportal.safestates.org/wp-content/uploads/2015/09/Effective-Discipline.pdf" target="_blank">American Academy of Pediatrics (1998)</a> recommends no more than 240 ml of fruit juice per day.
Studies in the U.S. have linked excess fruit juice consumption to failure to thrive <a href="https://www.researchgate.net/publication/14315133_Fruit_juice_consumption_by_infants_and_children_a_review"  target="_blank">(Smith and Lifshitz, 1994)</a> and
to short stature and obesity <a href="https://pdfs.semanticscholar.org/bdcd/9afc291ae7cf45973529023dbd88ebb291d6.pdf" target="_blank">(Dennison et al., 1997)</a>, although such outcomes have not been consistently observed
<a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.470.5314&rep=rep1&type=pdf" target="_blank">(Skinner et al., 1999)</a>.</p><br>

</div>

{% endblock %}
