<!DOCTYPE html>
<html lang="en" dir="ltr" style="scroll-behavior: smooth;">
  <head>
    <meta charset="utf-8">
    <title>BrianNyagateKenAriga</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="static/dropdown/drop.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<style type="text/css">
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

#blog{
    background-color: #efefef !important;
}

</style>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="font-family: 'Raleway', sans-serif;">Health Diaries</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}" style="font-family: 'Raleway', sans-serif;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about" style="font-family: 'Raleway', sans-serif;">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#blog" style="font-family: 'Raleway', sans-serif;">Blog</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ages & Stages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" style="font-family: 'Raleway', sans-serif;">Infant (6-8 Months.)</a>
          <a class="dropdown-item" href="#" style="font-family: 'Raleway', sans-serif;">Baby (9-11 Months.)</a>
          <a class="dropdown-item" href="#" style="font-family: 'Raleway', sans-serif;">Toddler (12-24 Months.)</a>
          <a class="dropdown-item" href="#" style="font-family: 'Raleway', sans-serif;">Preschool (25-59 Months.)</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nutrition Programme
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" style="font-family: 'Raleway', sans-serif;">Child Immunization</a>
          <a class="dropdown-item" href="#" style="font-family: 'Raleway', sans-serif;">Maternal Nutrition Knowledge</a>
          <a class="dropdown-item" href="#" style="font-family: 'Raleway', sans-serif;">Food Consistency</a>
          <a class="dropdown-item" href="#" style="font-family: 'Raleway', sans-serif;">Amount Of Complementary Food Needed</a>
          <a class="dropdown-item" href="#" style="font-family: 'Raleway', sans-serif;">Use Of Vitamin - Minerals Supplementation</a>
          <a class="dropdown-item" href="#" style="font-family: 'Raleway', sans-serif;">Preschool (25-59 Months.)</a>
        </div>
      </li>


      <li class="nav-item" style="padding-left:688px;">
        <a class="nav-link" href="#" style="font-family: 'Raleway', sans-serif;">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-family: 'Raleway', sans-serif;">Sign In</a>
      </li>

    </ul>
  </div>
</nav>

{% block content %}

{% endblock %}

  </body>
</html>
