{% extends "base.html"%}
{% block content %}

<div class="container"><br><br>

  <h3 style="font-family: 'Raleway', sans-serif; font-weight:bold;">CHILD IMMUNISATION</h3><br>
  <img src="static/chim/chi1.jpg" alt="" height="390px" width="100%"><br><br>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Babies are born with protection against some
    diseases because their mothers pass antibodies
    (proteins made by the body to fight disease) to them before birth. Breastfed babies continue to
    get more antibodies in breast milk. But in both cases, the protection is temporary.</p>

    <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Immunization (vaccination) is a way to
      create immunity to (protection from) some diseases. This is done by using small amounts of a killed or
      weakened germ that causes the disease.</p>

    <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Germs can be viruses (such as the measles virus)
      or bacteria (such as pneumococcus). Vaccines stimulate the immune system to react as if there were a real
      infection. It fends off the "infection" and remembers the germ. Then, it can fight the germ if it enters the
      body later.</p>

    <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; text-align:center;">IMPORTANCE OF VACCINATION</h4><br>
    <img src="static/chim/chi3.jpg" alt="" height="600px" width="500px" style="float:left;"><br><br>
    <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Vaccinations are some of the most important tools
      available for preventing disease. Vaccinations not only protect children from developing serious diseases but
      also protect the community by reducing the spread of infectious disease.<br><br>
Infectious diseases spread from person to person. If enough people are immunized, the disease may not be transmitted
through a population, thus protecting everyone. This concept is called "herd immunity." The concept is that the
strongest (those immunized) protect the weakest (those not immunized). Diseases such as smallpox and polio have nearly
disappeared because of immunization.<br><br>
Children get many immunizations during childhood. A community awareness campaign called Every Child by Two urges
parents to make sure their children are protected against the diseases of childhood before the child reaches 2 years
of age.<br><br>
Parents should consult their doctors about which vaccines their children should have and when. Keep track of your
 children's immunizations yourself. You will be asked for these records when the child enrols in school and throughout
 the child's school career.
</p><br>

<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">The injection process for childhood vaccinations may
  sometimes be distressing for parents. Information explaining what parents can do before, during, and after shots is
  available from the CDC, the American Academy of Paediatrics (AAP), and state health organizations.<br><br>
Each January, the AAP, the Advisory Committee on Immunization Practices (ACIP) of the CDC, and the American Academy of
Family Physicians (AAFP) issue a recommended childhood immunization schedule. Changes may be made during the year if
necessary.<br><br>
The CDC annually publishes the most current childhood immunization schedule. For more information, see the CDC web
site <a href="http://www.cdc.gov/">(http://www.cdc.gov/)</a>. Listed below are the routine vaccinations recommended
as of January 2016.
</p>
<img src="static/chim/chi4.png" alt="" height="250px" width="100%"><p></p><br>

<h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; text-align:center;">IMMUNIZATION SCHEDULE</h4>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">This schedule of recommended immunizations may vary
  depending upon where you live, your child's health, the type of vaccine, and the vaccines available.
Some of the vaccines may be given as part of a combination vaccine so that a child gets fewer shots. Talk with your
doctor about which vaccines your kids need.
</p>

<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold;">i). Birth</h5>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>	<a href="https://kidshealth.org/en/parents/hepb-vaccine.html">HepB</a>: Hepatitis B vaccine. Ideally, the first dose
  is given within 24 hours of birth, but kids not previously immunized can get it at any age. Some low birth weight
  infants will get it at 1 month or when they're discharged from the hospital.</p><br>

<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold;">ii). 1–2 months</h5>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>	<a href="https://kidshealth.org/en/parents/hepb-vaccine.html">HepB</a>: Second
dose should be given 1 to 2 months after the first dose.</p><br>

<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold;">iii). 2 months</h5>

<img src="static/chim/chi5.jpg" alt="" style="float:right; margin-right:-100px;"><br><br>

<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>	<a href="https://kidshealth.org/en/parents/dtap-vaccine.html">DTaP</a>: Diphtheria,
tetanus, and cellular pertussis vaccine.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>	<a href="https://kidshealth.org/en/parents/hib-vaccine.html">Hib</a>: Haemophilus
influenzae type b vaccine.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>	<a href="https://kidshealth.org/en/parents/polio-vaccine.html">IPV</a>: Inactivated
poliovirus vaccine.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span> <a href="https://kidshealth.org/en/parents/pneumococcal-vaccine.html">PCV</a>: Pneumococcal
 conjugate vaccine.</p>
 <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
 <span style="font-size:25px;">•</span> <a href="https://kidshealth.org/en/parents/rotavirus-vaccine.html">RV</a>: Rotavirus
vaccine.</p><br><br><br><br>

<hr style="border: 2px solid #99CCFF; margin-top: 1px;">

 <h5 style="font-family: 'Raleway', sans-serif; font-weight:bold;">iv). 4 months</h5><br>

<img src="static/chim/chi6.jpg" alt="" style="float:left;"><br><br><br>

 <p style="font-family: 'Raleway', sans-serif; font-size : 18px;  margin-left:700px;">
 <span style="font-size:25px;">•</span>	<a href="https://kidshealth.org/en/parents/dtap-vaccine.html">DTaP</a>.</p>
 <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:700px;">
 <span style="font-size:25px;">•</span>	<a href="https://kidshealth.org/en/parents/hib-vaccine.html">Hib</a>.</p>
 <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:700px;">
 <span style="font-size:25px;">•</span>	<a href="https://kidshealth.org/en/parents/polio-vaccine.html">IPV</a>.</p>
 <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:700px;">
 <span style="font-size:25px;">•</span> <a href="https://kidshealth.org/en/parents/pneumococcal-vaccine.html">PCV</a>.</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:700px;">
  <span style="font-size:25px;">•</span> <a href="https://kidshealth.org/en/parents/pneumococcal-vaccine.html">RV</a></p>
  <br><br><br><br><br><br>

<hr style="border: 2px solid #99CCFF; margin-top: 1px;">

  <h5 style="font-family: 'Raleway', sans-serif; font-weight:bold;">v). 6 months</h5>

<img src="static/chim/chi7.png" alt="" style="float:right;" height="300px" width="500px">

  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
  <span style="font-size:25px;">•</span>	<a href="https://kidshealth.org/en/parents/dtap-vaccine.html">DTaP</a>.</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
  <span style="font-size:25px;">•</span>	<a href="https://kidshealth.org/en/parents/hib-vaccine.html">Hib</a>: This third dose may be
  needed, depending on the brand of vaccine used in previous Hib immunizations.</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
  <span style="font-size:25px;">•</span> <a href="https://kidshealth.org/en/parents/pneumococcal-vaccine.html">PCV</a>.</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
  <span style="font-size:25px;">•</span> <a href="https://kidshealth.org/en/parents/pneumococcal-vaccine.html">RV</a>: This third dose
  may be needed, depending on the brand of vaccine used in previous RV immunizations.</p><br>


<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold;">vi). 6 months and annually</h5>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;"><span style="font-size:25px;">•</span>
  <a href="https://kidshealth.org/en/parents/flu-vaccine.html">Influenza (Flu)</a>: The flu
  vaccine is recommended every year for
children 6 months and older;</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px; font-style:italic; margin-left:60px; font-weight:bold;">o	Kids
  younger than 9 who get the flu vaccine for the first
  time (or who have only had one dose before July 2018) will get it in
   two separate doses at least a month apart.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px; font-style:italic; margin-left:60px; font-weight:bold;">o	Those
  younger than 9 who have had at least two doses of flu
  vaccine previously (in the same or different seasons) will only
 need one dose.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px; font-style:italic; margin-left:60px; font-weight:bold;">o	Kids
  older than 9 only need one dose.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;"><span style="font-size:25px;">•</span>	The vaccine is given by
  injection with a needle (the flu shot)
or by nasal spray. The flu shot is preferred for children of
all ages because it has been shown to be safe and effective. Although the nasal spray was not used in recent years, a changed
version of it is now recommended (for the 2018–2019 flu season) for kids who may otherwise not get a flu shot. The nasal
spray is only for healthy people ages 2 through 49. People with weakened immune systems or some health conditions (such as asthma)
and pregnant women should not get the nasal spray vaccine.</p><br>


<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold;">vii). 6–18 months</h5>

<img src="static/chim/chi8.jpg" alt="" style="float:right; margin-right:-100px;" height="900px" width="600px">

<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>HepB.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>IPV.</p><br>


<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold;">viii). 12–15 months</h5>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>Hib.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span><a href="https://kidshealth.org/en/parents/mmr-vaccine.html">MMR</a>: Measles, mumps,
and rubella (German measles) vaccine.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>PCV.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span><a href="https://kidshealth.org/en/parents/varicella-vaccine.html">Chickenpox
(varicella).</a>.</p><br>


<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold;">ix). 12–23 months</h5>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span><a href="https://kidshealth.org/en/parents/hepa-vaccine.html">HepA</a>: Hepatitis A
vaccine; given as two shots at least 6 months apart.</p><br>


<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold;">x). 15–18 months</h5>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>DTaP.</p><br>


<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold;">xi). 4–6 years</h5>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>DTaP.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>MMR.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>IPV.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>Varicella.</p><br>


<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold;">xii). 11–12 years</h5>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span><a href="https://kidshealth.org/en/parents/hpv-vaccine.html">HPV</a>: Human papillomavirus
vaccine, given in two shots over a 6- to 12-month period. It can be given as early as age 9. For teens and young adults (ages 15–26
in girls and ages 15–21 in boys), it is given in three shots over 6 months. It's recommended for both girls and boys to prevent
genital warts and some types of cancer.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span>Tdap: Tetanus, diphtheria, and pertussis booster. Also recommended during each pregnancy
a woman has.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span><a href="https://kidshealth.org/en/parents/meningitis-vaccine.html">Meningococcal conjugate
vaccine</a>: And a booster dose is recommended at age 16.</p><br>


<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold;">xiii). 16–18 years</h5>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•</span><a href="https://kidshealth.org/en/parents/meningitis-vaccine.html">Meningococcal
B vaccine (MenB)</a>: The MenB vaccine may be given to kids and teens in two or three doses, depending on the brand. Unlike
the meningococcal conjugate vaccine, which is recommended, the MenB vaccine is given at the discretion of the doctor.</p><br>


<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; text-align:center;">Special Circumstances</h5>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">• HepA : </span>can be given as early as 6 months of age to babies who will travel to a place where
hepatitis A is common (they will still need routine vaccination after their first birthday). It's also recommended for kids 2
years and older and adults who are at high risk for the disease. This includes people who live in, travel to, or adopt children
from areas with high rates of hepatitis A, people with clotting disorders, people with chronic liver disease, homeless people,
and drug users. The vaccine also can be given to anyone who wants immunity to the disease, and is useful for staff at childcare
facilities or schools, where they may be at risk of exposure.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">• The MMR Vaccine  : </span>can be given to babies as young as 6 months old if they will be
traveling internationally. These children should still get the recommended routine doses at 12–15 months and 4–6 years of age,
but can get the second dose as early as 4 weeks after the first if they will still be traveling and at risk.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•	The Flu Vaccine : </span> is especially important for kids who are at risk for health
problems from the flu. High-risk groups include, but aren't limited to, kids younger than 5 years old and those with
chronic medical conditions, such as <a href="https://kidshealth.org/en/parents/asthma-basics.html">asthma</a>, heart
problems, <a href="https://kidshealth.org/en/parents/sickle-cell-anemia.html">sickle cell disease</a>, diabetes,
or <a href="https://kidshealth.org/en/parents/hiv.html">HIV</a>.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">•	The meningococcal vaccines : </span>can be given to kids as young as 8 weeks old
(depending on the brand of vaccine) who are at risk for a meningococcal infection, such as
<a href="https://kidshealth.org/en/parents/meningitis.html">meningitis</a>. This includes children
with certain immune disorders. Kids who live in (or will be traveling to) countries where meningitis is common, or where
there is an outbreak, should also get the vaccine.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">
<span style="font-size:25px;">• Pneumococcal Vaccines  : </span>also can be given to older kids (age 2 and up) who have
conditions that affect their immune systems, such as asplenia or HIV infection, or other conditions, like a
<a href="https://kidshealth.org/en/parents/cochlear.html">cochlear implant</a>, chronic heart disease, or chronic
lung disease.</p><br>

<p style="font-family: 'Raleway', sans-serif; font-size : 18px; font-style:italic;">An outbreak is when a disease happens in greater
numbers than expected in a particular area. If you have questions about vaccinating your family during an outbreak, ask
your health care provider or contact your state or local health department.</p><br>

<h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; text-align:center;">The table below shows an updated
Imunnization Schedule for 2019</h5>
<img src="static/chim/chi9.jpg" alt="" style="margin-left:220px;"><br><br>

</div>

{% endblock %}
