{% extends "base.html"%}
{% block content %}

<div class="container"><br><br>
  <h3 style="font-family: 'Raleway', sans-serif; font-weight:bold;"> GENERAL GUIDING PRINCIPLES FOR COMPLEMENTARY FEEDING OF THE BREASTFEEDING CHILD</h3><br>
  <h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">1. DURATION OF EXCLUSIVE BREASTFEEDING AND AGE OF INTRODUCTION OF COMPLEMENTARY FOODS.</h5>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Practice exclusive breastfeeding from birth to 6 months of age,
  and introduce complementary foods at 6 months of age (180 days) while continuing to breastfeed.</p><br>

  <h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">2. MAINTENANCE OF BREASTFEEDING.</h5>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Continue frequent, on-demand breastfeeding until 2 years
  of age or beyond.</p><br>

  <h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">3. RESPONSIVE FEEDING.</h5>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Practice responsive feeding, applying the principles of
  psychosocial care. Specifically:</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:60px; font-style:italic;">a) Feed infants directly and
  assist older children when they feed themselves, being sensitive to their hunger and satiety cues;</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:60px; font-style:italic;">b) Feed slowly and patiently,
  and encourage children to eat, but do not force them;</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:60px; font-style:italic;">c) If children refuse many
  foods, experiment with different food combinations, tastes, textures and methods of encouragement;</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:60px; font-style:italic;">e) Minimize distractions
  during meals if the child loses interest easily;</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:60px; font-style:italic;">f) Remember that feeding
  times are periods of learning and love - talk to children during feeding, with eye to eye contact.</p><br>

  <h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">4. SAFE PREPARATION AND STORAGE OF COMPLEMENTARY FOODS.</h5>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Practice good hygiene and proper food handling by;</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:60px; font-style:italic;">a) Washing caregivers’ and
  children’s hands before food preparation and eating,</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:60px; font-style:italic;">b) Storing foods safely
  and serving foods immediately after preparation,</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:60px; font-style:italic;">c) Using clean utensils
  to prepare and serve food,</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:60px; font-style:italic;">d) Using clean cups and
  bowls when feeding children, and</p>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-left:60px; font-style:italic;">e) Avoiding the use of
  feeding bottles, which are difficult to keep clean.</p><br>

  <h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">5. AMOUNT OF COMPLEMENTARY FOOD NEEDED.</h5>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Start at 6 months of age with small amounts of food and
  increase the quantity as the child gets older, while maintaining frequent breastfeeding. The energy needs from complementary
  foods for infants with "average" breast milk intake in developing countries are approximately 200 kcal per day at 6-8 months
  of age, 300 kcal per day at 9-11 months of age, and 550 kcal per day at 12-23 months of age. In industrialized countries these
  estimates differ somewhat (130, 310 and 580 kcal/d at 6- 8, 9-11 and 12-23 months, respectively) because of differences in
  average breast milk intake.</p><br>

  <h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">6. FOOD CONSISTENCY.</h5>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Gradually increase food consistency and variety as the infant
  gets older, adapting to the infant’s requirements and abilities. Infants can eat pureed, mashed and semi-solid foods
  beginning at six months. By 8 months most infants can also eat "finger foods" (snacks that can be eaten by children alone).
  By 12 months, most children can eat the same types of foods as consumed by the rest of the family (keeping in mind the need
  for nutrient-dense foods, as explained in #8 below). Avoid foods that may cause choking (i.e., items that have a shape and/or
  consistency that may cause them to become lodged in the trachea, such as nuts, grapes, raw carrots).</p><br>

  <h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">7. MEAL FREQUENCY AND ENERGY DENSITY.</h5>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Increase the number of times that the child is fed complementary
  foods as he/she gets older. The appropriate number of feedings depends on the energy density of the local foods and the usual
  amounts consumed at each feeding. For the average healthy breastfed infant, meals of complementary foods should be provided
  2-3 times per day at 6-8 months of age and 3-4 times per day at 9-11 and 12-24 months of age, with additional nutritious
  snacks (such as a piece of fruit or bread or chapatti with nut paste) offered 1-2 times per day, as desired. Snacks are
  defined as foods eaten between meals-usually self-fed, convenient and easy to prepare. If energy density or amount of
  food per meal is low, or the child is no longer breastfed, more frequent meals may be required.</p><br>

  <h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">8. NUTRIENT CONTENT OF COMPLEMENTARY FOODS.</h5>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Feed a variety of foods to ensure that nutrient needs are met.
  Meat, poultry, fish or eggs should be eaten daily, or as often as possible. Vegetarian diets cannot meet nutrient needs at this
  age unless nutrient supplements or fortified products are used (see #9 below). Vitamin A-rich fruits and vegetables should be
  eaten daily. Provide diets with adequate fat content. Avoid giving drinks with low nutrient value, such as tea, coffee and
  sugary drinks such as soda. Limit the amount of juice offered so as to avoid displacing more nutrient-rich foods.</p><br>

  <h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">9. USE OF VITAMIN-MINERAL SUPPLEMENTS OR FORTIFIED PRODUCTS FOR INFANT AND MOTHER.</h5>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Use fortified complementary foods or vitamin-mineral supplements
  for the infant, as needed. In some populations, breastfeeding mothers may also need vitamin-mineral supplements or fortified
  products, both for their own health and to ensure normal concentrations of certain nutrients (particularly vitamins) in their
  breast milk. [Such products may also be beneficial for pre-pregnant and pregnant women].</p><br>

  <h5 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">10. FEEDING DURING AND AFTER ILLNESS.</h5>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Increase fluid intake during illness, including more frequent
  breastfeeding, and encourage the child to eat soft, varied, appetizing, favourite foods. After illness, give food more often
  than usual and encourage the child to eat more.</p>


</div>

{% endblock %}
