{% extends "base.html" %}
{% block content %}

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- THE START: THE BELOW CODE SHOWS THE CAROUSEL SECTION -->

<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/index/foto/sl1.jpg" class="d-block w-100" alt="..." height="716px" width="100px">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="font-family: 'Raleway', sans-serif; font-weight : bold;">WELCOME</h3>
          <p style="font-family: 'Raleway', sans-serif; font-size : 20px; font-weight : bold;">Get counsel and support of first-time mothers and caregivers on infant feeding options.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/index/foto/sl2.jpg" class="d-block w-100" alt="..." height="716px" width="100px">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="font-family: 'Raleway', sans-serif; font-weight : bold;">GUIDELINES FOR;</h3>
          <p style="font-family: 'Raleway', sans-serif; font-size : 20px; font-weight : bold;">Spicing up optimal infant and young child feeding practices.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/index/foto/sl3.jpg" class="d-block w-100" alt="..." height="716px" width="100px">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="font-family: 'Raleway', sans-serif; font-weight : bold;">EFFICIENCY</h3>
          <p style="font-family: 'Raleway', sans-serif; font-size : 20px; font-weight : bold;">Be conversant with your maternal nutrition knowledge and your child’s food consistency, meal frequency and the amount required.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/index/foto/sl4.jpg" class="d-block w-100" alt="..." height="716px" width="100px">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="font-family: 'Raleway', sans-serif; font-weight : bold; color : #330000;">CHILD HEALTH</h3>
          <p style="font-family: 'Raleway', sans-serif; font-size : 20px; font-weight : bold; color : #330000;">Take control of your child’s mortality by knowing his/her hospital’s immunisation schedule and acquire feedback.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<hr style="border: 2px solid #99CCFF; margin-top: 0.5px;">

<!-- THE END: THE ABOVE CODE SHOWS THE CAROUSEL SECTION -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- THE START: THE BELOW CODE SHOWS THE ABOUT US SECTION -->

<div class="container-fluid jumbotron" id="about">
  <u style="text-decoration: overline;"><h1 style="text-align:center; font-family: 'Raleway', sans-serif; font-weight : bold;">ABOUT</h1></u>
<br><br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h2 style="font-family: 'Raleway', sans-serif; font-weight : bold;">Who Are We?</h2>
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Health Diary is nutrition application set up and developed, based on information from re-known health organisations like WHO(World Health Organisation),FAO(Food and Agriculture Organisation –of the United Nations)etc.to strengthen the maternal knowledge ,attitude and complementary feeding practices of caregivers’ of children aged 6-59 months. It aims to improve dietary habits and food choices, in order to reverse the under nutrition in children and improve their nutritional diagnosis. It will also promote desirable food behaviour and nutritional practices and Increase the diversity of the types of foods consumed by children 6-59 months.
Caregivers are given nutrition education and are equipped with the relevant skills  as recommended by the World Health Organisation(WHO),as the application’s main  focus is on , child immunization, maternal nutrition knowledge, food consistency, meal frequency, amount of complimentary food needed and  use of Vitamin-mineral Supplementation for children under five years. If it is adopted in hospitals and health care centres, the application might also help in providing feedback to the ministry of health.
</p>
    </div>

    <div class="col-sm">
      <img src="static/about/foto/a1.jpg" alt="" height="450px" width="700px">
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm">
      <img src="static/about/foto/a2.jpg" alt="" height="400px" width="700px">

    </div>
    <div class="col-sm">
      <h2 style="font-family: 'Raleway', sans-serif; font-weight : bold;">Mission:</h2>
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">To brief and educate the general  public ,more so first time mothers and caregivers on  not only nutrition complimentary feeding practices  available to infants and  breast feeding mothers but also sensitize knowledge on the health services available to the  infants  in both  the government  and private  health facilities in the country at large.
</p>
    </div>
  </div><br><br>

  <div class="row">
    <div class="col-sm">
      <h2 style="font-family: 'Raleway', sans-serif; font-weight : bold;">Vision:</h2>
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">To increase the utilization of the application and advance delivery of nutrition knowledge based health and nutrition services, hence thrusting the country towards achieving the Millennium Development Goals (MDG’s), reducing child mortality to be precise (MDG 4).</p>
    </div>
    <div class="col-sm">

        <img src="static/about/foto/a4.jpg" alt="" height="400px" width="700px">

    </div>
  </div>
</div>



</div>

<!-- THE END: THE ABOVE CODE SHOWS THE ABOUT SECTION -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- THE START: THE BELOW CODE SHOWS THE ABOUT US SECTION -->

<div class="container" id="blog">

<h2 class="text-center">FEATURED ARTICLES</h2>
<p class="text-center">Every week, the Kenyan Academy of Pediatrics (KAP)
  publishes new research and recommendations in its journal Pediatrics.
   Read about some of the latest articles appearing in the world’s leading scientific
   publication on children’s health.<br> Don't forget to subscribe to our news letter to get daily updates</p>

   <div class="row">
     <div class="col-md-4">
       <div class="single-blog">
         <p class="blog-meta">By Admin <span>May 8, 2019</span></p>
         <img src="static/blog/foto/b1.jpg" alt="">
         <h3><a href="#">Immunizations</a></h3>
         <p class="blog-text">Today, most children in the United States lead much healthier
           lives and parents live with much less anxiety and worry over infections during
           childhood. Immunizations are one of the success stories of modern medicine...</p>
           <p><a href="#" class="read-more-btn">Read More</a>

             <span><i class="fa fa-thumbs-o-up"></i> 103 People like, <i

             class="fa fa-comments-o"></i> 50..</span>
           </p>
       </div>
     </div>
     <div class="col-md-4"></div>
     <div class="col-md-4"></div>

   </div>

</div><br><br><br><br><br><br><br>

<!-- THE END: THE ABOVE CODE SHOWS THE ABOUT SECTION -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

{% endblock %}
