{% extends "base.html" %}
{% block content %}

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- THE START: THE BELOW CODE SHOWS THE CAROUSEL SECTION -->

<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/index/foto/sl1.jpg" class="d-block w-100" alt="..." height="716px" width="100px">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="font-family: 'Raleway', sans-serif; font-weight : bold;">WELCOME</h3>
          <p style="font-family: 'Raleway', sans-serif; font-size : 20px; font-weight : bold;">Get counsel and support of first-time mothers and caregivers on infant feeding options.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/index/foto/sl2.jpg" class="d-block w-100" alt="..." height="716px" width="100px">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="font-family: 'Raleway', sans-serif; font-weight : bold;">GUIDELINES FOR;</h3>
          <p style="font-family: 'Raleway', sans-serif; font-size : 20px; font-weight : bold;">Spicing up optimal infant and young child feeding practices.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/index/foto/sl3.jpg" class="d-block w-100" alt="..." height="716px" width="100px">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="font-family: 'Raleway', sans-serif; font-weight : bold;">EFFICIENCY</h3>
          <p style="font-family: 'Raleway', sans-serif; font-size : 20px; font-weight : bold;">Be conversant with your maternal nutrition knowledge and your child’s food consistency, meal frequency and the amount required.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/index/foto/sl4.jpg" class="d-block w-100" alt="..." height="716px" width="100px">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="font-family: 'Raleway', sans-serif; font-weight : bold; color : #330000;">CHILD HEALTH</h3>
          <p style="font-family: 'Raleway', sans-serif; font-size : 20px; font-weight : bold; color : #330000;">Take control of your child’s mortality by knowing his/her hospital’s immunisation schedule and acquire feedback.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<hr style="border: 2px solid #99CCFF; margin-top: 0.5px;">

<!-- THE END: THE ABOVE CODE SHOWS THE CAROUSEL SECTION -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- THE START: THE BELOW CODE SHOWS THE ABOUT US SECTION -->

<div class="container-fluid jumbotron" id="about">
  <u style="text-decoration: overline;"><h1 style="text-align:center; font-family: 'Raleway', sans-serif; font-weight : bold;">ABOUT</h1></u>
<br><br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h2 style="font-family: 'Raleway', sans-serif; font-weight : bold;">Who Are We?</h2><br>
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Health Diary is nutrition application set up and developed, based on information from re-known health organisations like WHO(World Health Organisation),FAO(Food and Agriculture Organisation –of the United Nations)etc.to strengthen the maternal knowledge ,attitude and complementary feeding practices of caregivers’ of children aged 6-59 months. It aims to improve dietary habits and food choices, in order to reverse the under nutrition in children and improve their nutritional diagnosis. It will also promote desirable food behaviour and nutritional practices and Increase the diversity of the types of foods consumed by children 6-59 months.
Caregivers are given nutrition education and are equipped with the relevant skills  as recommended by the World Health Organisation(WHO),as the application’s main  focus is on , child immunization, maternal nutrition knowledge, food consistency, meal frequency, amount of complimentary food needed and  use of Vitamin-mineral Supplementation for children under five years. If it is adopted in hospitals and health care centres, the application might also help in providing feedback to the ministry of health.
</p>
    </div>

    <div class="col-sm">
      <img src="static/about/foto/a1.jpg" alt="" height="450px" width="700px">
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm">
      <img src="static/about/foto/a2.jpg" alt="" height="400px" width="700px">

    </div>
    <div class="col-sm">
      <h2 style="font-family: 'Raleway', sans-serif; font-weight : bold;">Mission:</h2><br>
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">To brief and educate the general  public ,more so first time mothers and caregivers on  not only nutrition complimentary feeding practices  available to infants and  breast feeding mothers but also sensitize knowledge on the health services available to the  infants  in both  the government  and private  health facilities in the country at large.
</p>
    </div>
  </div><br><br>

  <div class="row">
    <div class="col-sm">
      <h2 style="font-family: 'Raleway', sans-serif; font-weight : bold;">Vision:</h2><br>
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">To increase the utilization of the application and advance delivery of nutrition knowledge based health and nutrition services, hence thrusting the country towards achieving the Millennium Development Goals (MDG’s), reducing child mortality to be precise (MDG 4).</p>
    </div>
    <div class="col-sm">

        <img src="static/about/foto/a4.jpg" alt="" height="400px" width="700px">

    </div>
  </div>
</div>
</div>

<!-- THE END: THE ABOVE CODE SHOWS THE ABOUT SECTION -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- THE START: THE BELOW CODE SHOWS THE BLOG US SECTION -->

<div class="container-fluid" id="blog"><br><br><br><br><br>

<u style="text-decoration: overline;"><h1 style="text-align:center; font-family: 'Raleway', sans-serif; font-weight : bold;">FEATURED ARTICLES</h1></u><br><br><br>

<p class="text-center" style="font-family: 'Raleway', sans-serif; font-size : 18px;">Every week, the Kenyan Academy of Pediatrics (KAP)
  publishes new research and recommendations in its journal Pediatrics.
   Read about some of the latest articles appearing in the world’s leading scientific
   publication on children’s health.<br> Don't forget to subscribe to our news letter to get daily updates</p><br>

   <div class="row">
     <div class="col-md-4" id="image">
       <div class="single-blog">
         <p class="blog-meta" style="font-family: 'Raleway', sans-serif; font-size : 18px;">By Admin <span style="font-family: 'Raleway', sans-serif; font-size : 18px;">May 8, 2019</span></p>
         <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3597865/"><img src="static/blog/foto/bl1.jpg" alt="" height="300px" width="300px"></a>
         <h3 style="font-family: 'Raleway', sans-serif; font-size : 25px; font-weight:bold;"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3597865/">Immunizations.</a></h3>
         <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3597865/" style="text-decoration: none; color:#000"><p class="blog-text" style="font-family: 'Raleway', sans-serif; font-size : 18px;">Today, most
           children in the Kenya lead much healthier
           lives and parents live with much less anxiety and worry over infections during
           childhood. Immunizations are one of the success stories of modern medicine
           The American Academy of Pediatrics (AAP) works closely with the Centers
           for Disease Control and Prevention (CDC) to make recommendations for vaccine use.
           This article lists those studies and...
         </p></a>
           <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3597865/" class="read-more-btn">Read More</a>

             <span style="font-family: 'Raleway', sans-serif; font-size : 18px;"><i class="fa fa-thumbs-o-up"></i> 103 People like, <i

             class="fa fa-comments-o"></i> 50..</span>
           </p>
       </div>
     </div>

     <div class="col-md-4" id="image">
       <div class="single-blog">
         <p class="blog-meta" style="font-family: 'Raleway', sans-serif; font-size : 18px;">By Admin<span style="font-family: 'Raleway', sans-serif; font-size : 18px;">May 8, 2019</span></p>
         <a href="https://www.sleepfoundation.org/articles/children-and-sleep"><img src="static/blog/foto/bl2.jpeg" alt="" height="300px" width="300px"></a>
         <h3 style="font-family: 'Raleway', sans-serif; font-size : 25px; font-weight:bold;"><a href="https://www.sleepfoundation.org/articles/children-and-sleep">Importance Of Sleep.</a></h3>
         <a href="https://www.sleepfoundation.org/articles/children-and-sleep" style="text-decoration: none; color:#000"><p class="blog-text" style="font-family: 'Raleway', sans-serif; font-size : 18px;">​​​​​​​​​​Sleep is just as important to your children's development and
           well-being as nutrition and physical activity. The amount and quality of sleep we
           have can affect our safety, how alert we are, as well as our memories, moods, behavior, and learning
           abilities. Establishing good sleep practices while
           your children are young will not only benefit you, but it will help them for many years to come...
         </p></a>
           <p><a href="https://www.sleepfoundation.org/articles/children-and-sleep" class="read-more-btn">Read More</a>

             <span style="font-family: 'Raleway', sans-serif; font-size : 18px;"><i class="fa fa-thumbs-o-up"></i> 513 People like, <i

             class="fa fa-comments-o"></i> 66..</span>
           </p>
       </div>
     </div>

     <div class="col-md-4" id="image">
       <div class="single-blog">
         <p class="blog-meta" style="font-family: 'Raleway', sans-serif; font-size : 18px;">By Admin <span style="font-family: 'Raleway', sans-serif; font-size : 18px;">May 8, 2019</span></p>
         <a href="https://www.brighthubeducation.com/infant-development-learning/123353-nutrition-for-infants-and-toddlers/"><img src="static/blog/foto/bl3.jpeg" alt="" height="300px" width="300px"></a>
         <h3 style="font-family: 'Raleway', sans-serif; font-size : 25px; font-weight:bold;"><a href="https://www.brighthubeducation.com/infant-development-learning/123353-nutrition-for-infants-and-toddlers/">Nutritional Balance.</a></h3>
         <a href="https://www.brighthubeducation.com/infant-development-learning/123353-nutrition-for-infants-and-toddlers/" style="text-decoration: none; color:#000"><p class="blog-text" style="font-family: 'Raleway', sans-serif; font-size : 18px;">The specific
           nutritional choices you and your children make are crucial. Good nutrition is essential to good
            health and the American Academy
           of Pediatrics encourages parents to think of their nutritional decisions as health decisions.
           When it comes to getting protein into your child’s diet, you don’t have to get into battles—or
           give in to the daily chicken nugget...</p></a>
           <p><a href="https://www.brighthubeducation.com/infant-development-learning/123353-nutrition-for-infants-and-toddlers/" class="read-more-btn">Read More</a>

             <span style="font-family: 'Raleway', sans-serif; font-size : 18px;"><i class="fa fa-thumbs-o-up"></i> 925 People like, <i

             class="fa fa-comments-o"></i> 87..</span>
           </p>
       </div>
     </div>

    <div class="col-md-4"></div>
     <div class="col-md-4"></div>

   </div>

</div><br><br><br><br>

<!-- THE END: THE ABOVE CODE SHOWS THE BLOG SECTION -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

{% endblock %}
