{% extends "base.html"%}
{% block content %}

<div class="container"><br><br>

  <h3 style="font-family: 'Raleway', sans-serif; font-weight:bold;">MATERNAL NUTRITION KNOWLEDGE</h3>
  <img src="static/matnut/imp.jpg" alt="" style="float:right;" height="350px" width="400px"><br>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Adequate nutrition during infancy and early
    childhood is fundamental to the development of each child’s full human
    potential. It is well recognized that the period from birth to two years of age is a “critical window” for the
    promotion of optimal growth, health and behavioural development. Longitudinal studies have consistently shown that
    this is the peak age for growth faltering, deficiencies of certain micronutrients, and common childhood illnesses
    such as diarrhoea. After a child reaches 2 years of age, it is very difficult to reverse stunting that has occurred
     earlier <a href="https://www.who.int/publications/cra/chapters/volume1/0039-0162.pdf">(Martorell et al., 1994)
     </a>.</p><br><br>

<img src="static/matnut/imp1.jpg" alt="" style="float:left;" height="350px" width="400px"><br><br>
     <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">The immediate consequences of poor
       nutrition during these formative years include significant
       morbidity and mortality and delayed mental and motor development. In the long-term, early nutritional
       deficits are linked to impairments in intellectual performance, work capacity, reproductive outcomes
       and overall health during adolescence and adulthood. Thus, the cycle of malnutrition
        continues, as the malnourished girl child faces greater odds of giving birth to a malnourished, low
        birth weight infant when she grows up. Poor breastfeeding and complementary feeding practices, coupled with
        high rates of infectious diseases, are the principal proximate causes of malnutrition during the first
        two years of life. For this reason, it is essential to ensure that caregivers are provided with
        appropriate guidance regarding optimal feeding of infants and young children.</p><br>

<img src="static/matnut/imp2.jpg" alt=""  height="600px" width="100%"><br><br>
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Complementary feeding is defined as the process
        starting when breast milk alone is no longer sufficient to meet the nutritional requirements of infants, and
        therefore other foods and liquids are needed, along with breast milk. The target age range for complementary
        feeding is generally taken to be 6 to 24 months of age, even though breastfeeding may continue beyond two years.
        A review of feeding guidelines promoted by various national and international organizations has shown that there
        are inconsistencies in the specific recommendations for feeding infants and young children
        <a href="https://www.who.int/nutrition/publications/guiding_principles_compfeeding_breastfed.pdf">(Dewey, in press).</a>
        Some of the feeding guidelines are based more on tradition and speculation than on scientific evidence, or are
        far more prescriptive than is necessary regarding issues such as the order of foods introduced and the amounts
        of specific foods to be given. To avoid confusion, a set of unified, scientifically based guidelines is
        needed, which can be adapted to local feeding practices and conditions.</p><br>

<img src="static/matnut/imp3.jpg" alt=""  style="float:left;" height="300px" width="400px">
<img src="static/matnut/imp4.png" alt=""  style="float:right;" height="350px" width="400px">
      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">The guidelines described herein were developed from
        discussions at several technical consultations and documents on complementary feeding
        (WHO/UNICEF, 1998; WHO/UNICEF Technical Consultation on Infant and Young Child Feeding, 2000;
        WHO Global Consultation on Complementary Feeding, 2001; Academy for Educational Development, 1997; Dewey
        and Brown, 2002). The target group for these guidelines is breastfed children during the first two years of life.
        This document does not cover specific feeding recommendations for non-breastfed children, although many of the
         guidelines are also appropriate for such children (except for the recommendations regarding meal frequency and
         nutrient content of complementary foods). </p><br>

      <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Appropriate diets for children who are not
         breastfed (such as those of HIV-positive mothers who choose not to breastfeed), often referred to
         as “replacement feeding”, are the subject of other documents
         <a href="https://www.who.int/nutrition/publications/en/hiv_infant_feeding_course_trainer_eng.pdf">(WHO/UNICEF HIV
           and Infant Feeding Counselling:A training Course, 2000)</a> . It should also be noted that the guidelines herein apply to normal, term infants
         (this includes low birth weight infants born at > 37 weeks gestation). Infants or children recovering from
         acute malnutrition or serious illnesses may need specialized feeding, which is covered by clinical manuals
         <a href="https://apps.who.int/iris/bitstream/handle/10665/42335/WHO_FCH_CAH_00.1.pdf;jsessionid=C4EB2DA317FEA31C7388BFE6C546F597?sequence=1">
         (for example, the WHO manual “Management of the Child with a Serious Infection or Severe Malnutrition”, 2000)</a>.
         Preterm infants may also need special feeding. However, the guidelines in this document can be used as the basis
         for developing recommendations on complementary feeding for these subgroups.</p>
         <img src="static/matnut/imp4.jpg" alt="" height="800px" width="100%"><br>

</div>

{% endblock %}
