{% extends "base.html" %}
{% block content %}

<div class="container"><br><br>
  <h3 style="font-family: 'Raleway', sans-serif; font-weight:bold;">FOOD FREQUENCY</h3><br>

<img src="static/meal/mf1.jpg" alt="" height="500px" width="900px" style="margin-left:100px;"><br>

  <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">Guideline:</h4>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Gradually increase food consistency and variety as the infant
gets older, adapting to the infant’s requirements and abilities. Infants can eat pureed, mashed and semi-solid foods
beginning at six months. By 8 months most infants can also eat “finger foods” (snacks that can be eaten by children alone).
By 12 months, most children can eat the same types of foods as consumed by the rest of the
(keeping in mind the need for nutrient-dense foods, as explained below). Avoid foods that may cause
choking (i.e., items that have a shape and/or consistency that may cause them to become lodged in the trachea,
such as nuts, grapes, raw carrots).</p><br>

<h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">Scientific Rationale:</h4>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">The neuromuscular development of infants dictates the
minimum age at which they can ingest particular types of foods <a href="https://www.unicef.org/sowc/archive/ENGLISH/The%20State%20of%20the%20World%27s%20Children%201998.pdf">(WHO/UNICEF, 1998)</a>.
Semi-solid or pureed foods are
needed at first, until the ability for “munching” (up and down mandibular movements) or chewing (use of teeth) appears.
The ages listed above represent the usual capabilities of normal, healthy infants. When foods of inappropriate consistency
are offered, the child may be unable to consume more than a trivial amount, or may take so long to eat that food intake is
compromised.<br> Evidence from several sources <a href="https://apps.who.int/iris/bitstream/handle/10665/42739/924154614X.pdf;jsessionid=DC467378B0BE5E1103A723A249C93FD0?sequence=1">
(Dewey and Brown, 2002)</a> indicates that by 12 months, most infants are able to
consume “family foods” of a solid consistency, although many are still offered semi-solid foods (presumably because they
can ingest them more efficiently, and thus less time for feeding is required of the caregiver). There is suggestive
evidence of a “critical window” for introducing “lumpy” solid foods: if these are delayed beyond 10 months of age, it
may increase the risk of feeding difficulties later on <a href="https://www.nature.com/articles/ejcn200863.pdf?origin=publication_detail">(Northstone et al., 2001)</a>.
Thus, although it may save time to
continue feeding semi-solid foods, for optimal child development it is advisable to gradually increase food consistency
with age.</p><br>

<h3 style="font-family: 'Raleway', sans-serif; font-weight:bold;">MEAL FREQUENCY AND ENERGY DENSITY</h3><br>
<h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">Guideline:</h4>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Increase the number of times that the child is fed
complementary foods as he/she gets older. The appropriate number
of feedings depends on the energy density of the local foods and the usual amounts consumed at each feeding. For the
average healthy breastfed infant, meals of complementary foods should be provided 2-3 times per day at 6-8 months of
age and 3-4 times per day at 9-11 and 12-24 months of age, with additional nutritious snacks (such as a piece of fruit
or bread or chapatti with nut paste) offered 1-2 times per day, as desired. Snacks are defined as foods eaten between
meals-usually self-fed, convenient and easy to prepare. If energy density or amount of food per meal is low, or the
child is no longer breastfed, more frequent meals may be required.</p><br>

<h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">Scientific Rationale:</h4>
<img src="static/meal/mf4.jpg" alt="" style="float:right;" height="450px" width="600px"><br>

<p style="font-family: 'Raleway', sans-serif; font-size : 18px;"> The above guideline is based on theoretical estimates
of the number of feedings required, calculated from the energy needs from complementary foods (see #5 above), and assuming
a gastric capacity of 30 g/kg body weight/d and a minimum energy density of complementary foods of 0.8 kcal/g
<a href="https://apps.who.int/iris/bitstream/handle/10665/42739/924154614X.pdf;jsessionid=DC467378B0BE5E1103A723A249C93FD0?sequence=1">
(Dewey and Brown, 2002)</a>. To calculate the minimum meal frequencies shown above (2 at 6-8 months and 3 thereafter),
the energy needs from complementary foods were based on age-specific total daily energy requirements plus 2 SD
(to meet the needs of almost all children) minus the average intake of energy from breast milk by children in developing
countries. Infants with low intakes of breast milk would require the higher meal frequencies shown above
(3 at 6-8 months and 4 thereafter).<br> When energy density of the usual complementary foods is less than
0.8 kcal/g, or infants typically consume amounts that are less than the assumed gastric capacity at each meal, meal
frequency would need to be higher than the values shown above (see Table 1). Table 2 shows the minimum energy density
of complementary foods at various meal frequencies and levels of breast milk intake. A meal frequency that is greater
than necessary may lead to excessive displacement of breast milk. In Guatemala, a social marketing campaign to promote
feeding complementary foods five times per day had the unintended consequence of reducing breastfeeding frequency in
children 19-24 months of age (from an average of 6.9 daytime feedings prior to the intervention, to 3.7 daytime feedings
after the intervention, p=0.01; <a href="http://www.eula.cl/musels/wp-content/uploads/2014/09/Rivera-et-al-2015.pdf">
Rivera et al., 1998</a>). <br>
In addition, preparing and feeding five meals per day requires a
considerable amount of time and effort by caregivers, which may prompt them to hold prepared food over from one meal to
the next, thereby potentially increasing the risk of microbial contamination. These considerations should be borne in
mind when developing messages regarding meal frequency. The use of 1 to 2 nutritious snacks per day, such as a piece
of fruit or a piece of bread or chapatti with nut paste, will not require time for preparation and may also be less
likely to displace breast milk.</p><br>

<img src="static/meal/mf2.jpg" alt="" height="500px" width="800px" style="margin-left:100px;"><br><br>

</div>

{% endblock %}
