{% extends "base.html"%}
{% block content %}

<div class="container"><br><br>
  <h3 style="font-family: 'Raleway', sans-serif; font-weight:bold;">USE OF VITAMIN-MINERAL SUPPLEMENTS OR FORTIFIED PRODUCTS FOR INFANT AND MOTHER & FEEDING DURING AND AFTER ILLNESS</h3>
  <img src="static/vm/vm1.jpg" alt="" height="400px" width="700px" style="margin-left:200px">
  <h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">Guideline:</h4>
  <p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Use fortified complementary foods or vitamin-mineral supplements
for the infant, as needed. In some populations, breastfeeding mothers may also need vitamin-mineral supplements or fortified
products, both for their own health and to ensure normal concentrations of certain nutrients (particularly vitamins) in their
breast milk. [Such products may also be beneficial for pre-pregnant and pregnant women].</p><br>

<h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">Scientific Rationale:</h4>
<img src="static/vm/vm2.jpg" alt="" style="float:right; margin-right:-100px;  border-radius:15px;" height="350px" width="500px">
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Unfortified complementary foods that are predominantly plant-based
generally provide insufficient amounts of certain key nutrients (particularly iron, zinc and calcium) to meet the recommended
nutrient intakes during the age range of 6-24 months (WHO/UNICEF, 1998; Gibson et al., 1998; Dewey and Brown, 2002).
Inclusion of animal-source foods can meet the gap in some cases, but this increases the cost and thus may not be practical
for the lowest income groups. Furthermore, the amounts of animal-source foods that can feasibly be consumed by infants
(e.g., at 6-12 months) are generally insufficient to meet the gaps in iron, calcium and sometimes zinc (WHO/UNICEF, 1998).
Gibson et al. (1998) evaluated 23 different complementary food mixtures used in developing countries, some of which included
animal-source foods.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">None of them achieved the desired iron density and few achieved
the desired calcium or zinc density. The difficulty in meeting the needs for these nutrients during infancy is not unique to
developing countries. Average iron intakes of breastfed infants in industrialized countries would fall well short of the
recommended intake if iron-fortified products were not available (WHO/UNICEF, 1998), and the median zinc density of complementary
foods consumed by breastfed infants in the U.S. was below the desired density at 6-12 months (Dewey and Brown, 2002).</p>

<img src="static/vm/vm3.jpg" alt="" style="float:left; border-radius:15px;" height="350px" width="500px">
<p style="font-family: 'Raleway', sans-serif; font-size : 18px; margin-right:-100px;">In industrialized countries, iron-fortified complementary
foods have been widely consumed for decades, and some manufacturers have added zinc as a fortificant in recent years. Such
products are not as widely available in developing countries (except through social programs that reach only a small proportion
of the population), although there is increasing attention to this strategy for ensuring adequate infant nutrition
(Lutter, 2000; Lutter in press). An alternative to food fortification is the use of vitamin-mineral supplements that
are provided directly to the infant (e.g. as medicinal drops) or mixed with complementary foods
(e.g. “sprinkles”, or fat based spreads; Dewey and Brown, 2002). Evaluation of the nutrient shortfalls for a particular
population (based on the types of complementary foods consumed) is necessary to decide whether single or multiple-micronutrient
fortification or supplementation is appropriate.</p>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">As described above, maternal malnutrition can affect
the concentrations of certain nutrients in breast milk (particularly the vitamins). Improvement of the mother’s diet is
normally the first choice, but when this is insufficient, consumption of fortified products or vitamin-mineral supplements
during lactation can help ensure adequate nutrient intake by the infant and enhance the mother’s nutritional status
(Huffman et al., 1998).</p>


<h3 style="font-family: 'Raleway', sans-serif; font-weight:bold;">FEEDING DURING AND AFTER ILLNESS</h3><br>
<h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">Guideline:</h4>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">Increase fluid intake during illness, including more frequent
breastfeeding, and encourage the child to eat soft, varied, appetizing, favourite foods. After illness, give food more often
than usual and encourage the child to eat more.</p<br>

<h4 style="font-family: 'Raleway', sans-serif; font-weight:bold; margin-left:20px;">Scientific Rationale:</h4>
<p style="font-family: 'Raleway', sans-serif; font-size : 18px;">During illness, the need for fluids is often higher than normal.
Sick children appear to prefer breast milk to other foods (Brown et al., 1990), so continued, frequent breastfeeding during
illness is advisable. Even though appetite may be reduced, continued consumption of complementary foods is recommended to
maintain nutrient intake and enhance recovery (Brown, 2001). After illness, the child needs greater nutrient intake to
make up for nutrient losses during the illness and allow for catch-up growth. Extra food is needed until the child has
regained any weight lost and is growing well again.</p>

<img src="static/vm/vm4.jpg" alt="" width="100%" style="border-radius:15px;">

</div>

{% endblock %}
